:root{
  --pink: rgb(255, 160, 190);
  --light-pink: rgb(255, 200, 221);
  --blue: rgb(189, 224, 254);
  --green: rgb(209, 244, 224);
  --clr-tx: rgb(42, 42, 42);
  --clr-title: rgb(255, 255, 255);
  --clr-shadow: rgb(42, 42, 42, 0.25);
  --radius: 18px;

  --fs: 16px;

  font-size: var(--fs);
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
    "hero-name hero-image"
    "hero-quote hero-image";
}

h1 {
    display: flex;
    flex-direction: column;

    justify-self: center;
    grid-area: hero-name;

    margin-top: clamp(20px, 4vw, 60px);
}

.name {
    background-color: var(--green);
    width: fit-content;
    padding-left: clamp(1.8rem, 3.2vw, 3rem);
    padding-right: clamp(1.8rem, 3.2vw, 3rem);
    padding-top: 10px;
    padding-bottom: 5px;

    border-radius: var(--radius);
    border: 1px solid var(--clr-title);
    z-index: 1;
}

.surname {
    background-color: var(--blue);
    width: fit-content;
    padding: 10px 2%;
    margin-left: clamp(2rem, 15dvw, 5rem);
    padding-left: clamp(1.8rem, 3.2vw, 3rem);
    padding-right: clamp(1.8rem, 3.2vw, 3rem);
    padding-top: 10px;
    padding-bottom: 5px;

    border-radius: var(--radius);
    border: 1px solid var(--clr-title);
}

.hero>p {
    font-size: clamp(0.8rem, 2.2vw, 1.5rem);

    grid-area: hero-quote;
    justify-self: end;
    align-content: center;
    transform: translateX(30px);

    white-space: nowrap;
}

.hero>figure {
    grid-area: hero-image;
    align-content: end;
}

.hero > figure > img {
    height: clamp(200px, 60vw, 1000px);
}

.intro-section {
    padding-top: 40px;
    padding-bottom: 40px;
    transform: translateY(-1%);
    background-color: var(--blue);
    box-shadow: 0px 0px 10px 10px var(--blue);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "about-me-2 about-me-1"
        "about-me-3 about-me-4";
}

#about-me-1 {
    grid-area: about-me-1;
}

#about-me-2 {
    grid-area: about-me-2;
}

#about-me-3 {
    grid-area: about-me-3;
}

#about-me-4 {
    grid-area: about-me-4;
}

#about-me-1, 
#about-me-2, 
#about-me-3, 
#about-me-4 {
    justify-self: center;
    align-content: center;
    align-self: center;
    text-align: center;

    border-radius: var(--radius);
    overflow: hidden;
}

#about-me-1, 
#about-me-3 {
    font-size: clamp(0.8rem, 2.2vw, 1.2rem);
    padding: 0px 20px;
}

#about-me-2 > img, 
#about-me-4 > img{
    border-radius: var(--radius);
    overflow: hidden;

    width: 90%;
    height: 90%;
}

#about-me-1 > h2 {
    background-color: var(--green);
    border-radius: var(--radius);
    border: 1px solid var(--clr-title);

    width: fit-content;
    padding-left: clamp(1.8rem, 3.2vw, 3rem);
    padding-right: clamp(1.8rem, 3.2vw, 3rem);
    padding-top: 10px;
    padding-bottom: 5px;

    position: absolute;
    top: 7%;
    justify-self: center;
}

.wapper-sponsor > h3 {
    width: 100%;
    text-align: center;
}

.cards-sponsor {
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-left: clamp(10px, 5vw, 50px);
    margin-right: clamp(10px, 5vw, 50px);
}

.sponsor {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--green);
    border-radius: var(--radius);
    overflow: hidden;
}
