:root{
  --pink: rgb(255, 160, 190);
  --light-pink: rgb(255, 200, 221);
  --blue: rgb(189, 224, 254);
  --green: rgb(209, 244, 224);
  --clr-tx: rgb(42, 42, 42);
  --clr-title: rgb(255, 255, 255);
  --clr-shadow: rgb(42, 42, 42, 0.25);
  --radius: 18px;

  --fs: 16px;

  font-size: var(--fs);
}

#link-home {
  color: var(--clr-title);
  border-bottom: 1px solid var(--clr-title);
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
    "hero-name hero-image"
    "hero-quote hero-image";
}

h1 {
    display: flex;
    flex-direction: column;

    justify-self: center;
    grid-area: hero-name;

    margin-top: clamp(20px, 4vw, 60px);
}

.name {
    background-color: var(--green);
    width: fit-content;
    padding-left: clamp(1.8rem, 3.2vw, 3rem);
    padding-right: clamp(1.8rem, 3.2vw, 3rem);
    padding-top: 10px;
    padding-bottom: 5px;

    border-radius: var(--radius);
    border: 1px solid var(--clr-title);
    z-index: 1;
}

.surname {
    background-color: var(--blue);
    width: fit-content;
    padding: 10px 2%;
    margin-left: clamp(2rem, 15dvw, 5rem);
    padding-left: clamp(1.8rem, 3.2vw, 3rem);
    padding-right: clamp(1.8rem, 3.2vw, 3rem);
    padding-top: 10px;
    padding-bottom: 5px;

    border-radius: var(--radius);
    border: 1px solid var(--clr-title);
}

.hero > p {
    font-size: clamp(1rem, 2.2vw, 1.5rem);

    grid-area: hero-quote;
    justify-self: end;
    align-content: center;
    transform: translateX(30px);

    white-space: nowrap;
}

.hero > figure {
    grid-area: hero-image;
    align-content: end;
    z-index: -2;
}

.hero > figure > img {
    height: clamp(200px, 60vw, 1000px);
}

.intro-section {
    position: relative;
    margin: 0;
    padding: 0px 10%;
    width: 100vw;
    margin-left: calc(50% - 50vw);

    background-color: var(--blue);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "about-me-2 about-me-1"
        "about-me-3 about-me-4";
}

.triangle-up,
.triangle-down {
    width: 100vw;
    height: 200px;
    margin: 0;
    padding: 0;
    background-color: var(--blue);
}

.triangle-up {
    position: absolute;
    top: 0;
    transform: translateY(-200px);
    clip-path: polygon(0% 100%, 100% 0%, 100% 100%);
}

.triangle-down {
    position: absolute;
    bottom: 0;
    transform: translateY(200px);
    clip-path: polygon(0% 100%, 100% 0%, 0% 0%);
}

#about-me-1 {
    grid-area: about-me-1;
}

#about-me-2 {
    grid-area: about-me-2;
}

#about-me-3 {
    grid-area: about-me-3;
}

#about-me-4 {
    grid-area: about-me-4;
}

#about-me-1, 
#about-me-2, 
#about-me-3, 
#about-me-4 {
    justify-self: center;
    align-content: center;
    align-self: center;
    text-align: center;

    border-radius: var(--radius);
    overflow: hidden;
}

#about-me-1, 
#about-me-3 {
    font-size: clamp(0.8rem, 2.2vw, 1.2rem);
    padding: 0px 20px;
}

#about-me-2 > img, 
#about-me-4 > img{
    border-radius: var(--radius);
    overflow: hidden;

    width: 90%;
    height: 90%;
}

#about-me-1 > h2 {
    background-color: var(--green);
    border-radius: var(--radius);
    border: 1px solid var(--clr-title);

    width: fit-content;
    padding-left: clamp(1.8rem, 3.2vw, 3rem);
    padding-right: clamp(1.8rem, 3.2vw, 3rem);
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: clamp(20px, 3vw, 50px);
    justify-self: center;
}

.wapper-sponsor {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: clamp(2rem, 10vw, 10rem);
    margin-bottom: clamp(2rem, 10vw, 10rem);
    gap: clamp(20px, 2.5vw, 50px);
}

.wapper-sponsor > h3 {
    text-align: center;
    padding-left: clamp(1.8rem, 3.2vw, 3rem);
    padding-right: clamp(1.8rem, 3.2vw, 3rem);
    padding-top: 10px;
    padding-bottom: 5px;
    border: 1px solid var(--clr-title);

    background-color: var(--blue);
    border-radius: var(--radius);
    width: fit-content;

}

.cards-sponsor {
    display: flex;
    gap: clamp(1rem, 10vw, 3rem);
    margin-left: clamp(1%, 5vw, 10%);
    margin-right: clamp(1%, 5vw, 10%);
}

.sponsor {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    aspect-ratio: 1 / 1;
    padding: clamp(1rem, 1.5vw, 2.5rem);
    gap: 10%;
    align-items: center;
    background-color: var(--green);
    border-radius: var(--radius);
    overflow: hidden;

    cursor: pointer;
    transition: all 0.5s;
}

.sponsor:hover,
.sponsor:focus {
    scale: 1.1;
    box-shadow: 10px 10px 10px var(--clr-shadow);
}

.sponsor > figure {
    display: block;
    border-radius: var(--radius);
    overflow: hidden;
}

.sponsor > figure > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

#triangle-sponsor {
    position: absolute;
    width: 100vw;
    height: 250px;
    margin: 0;
    padding: 0;
    z-index: -1;
    
    bottom: 0;
    transform: translateY(clamp(2rem, 10vw, 10rem));
    background-color: var(--pink);
    clip-path: polygon(0% 100%, 100% 0%, 100% 100%);
}

@media (max-width: 768px) {
    

    main {
        margin: 0;
    }

    h1 {
        font-size: 3rem;
    }

    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10vw;
        
    }

    .hero > p {
        transform: translateX(0px);
        align-self: flex-start;
        padding: 5%;
    }

    .hero > figure > img {
        height: clamp(500px, 100vw, 800px);
    }

    .intro-section {
        width: 100%;
        padding: 0;
        margin: 0;

        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "about-me-1" 
        "about-me-2"
        "about-me-3"
        "about-me-4";
    }

    .triangle-up,
    .triangle-down {
        width: 100%;
        height: 100px;
    }

    .triangle-up {
        transform: translateY(-100px);
    }

    .triangle-down {
        transform: translateY(100px);
    }

    .wapper-sponsor {
        width: 100%;
        margin: 0;
        margin-top: 20%;
        gap: 50px;
        display: grid;
        align-content: center;
        justify-items: center;
    }

    .cards-sponsor {
        margin: 0;
        display: flex;
        flex-direction: column;
        padding-bottom: 20%;
        margin: 0 auto;
    }

    .sponsor {
        width: clamp(70%, 80vw, 90%);
        text-align: center;
        align-self: center;
        justify-self: center;
    }

    #triangle-sponsor {
        width: 100%;
        height: 500px;
    }
}